<div class="row">
  <div class="col-7">
    <mat-form-field>
      <mat-select placeholder="Kampagne" [(ngModel)]="campaign" name="campaign">
        <mat-option>Ingen valgt</mat-option>
        <mat-option *ngFor="let campaign of campaignList" [value]="campaign">{{campaign.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-5">
    <button class="btn btn-success" (click)="setChosenCampaign()">
      Vælg kampagne
    </button>
    <button class="btn btn-primary" (click)="toggleCreateCampaign()">
      Opret kampagne
    </button>
  </div>
</div>


