<div class="card">
  <div class="card-header" (click)="show()">
    <h5 class="mb-0">
      <a href="#" >
        Vælg kampagne
      </a>
    </h5>
  </div>    
  <div [hidden]="!visible">
<div class="jumbotron">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-select placeholder="Kampagne" [(ngModel)]="campaign" name="campaign">
          <mat-option *ngFor="let campaign of campaignList" [value]="campaign">{{campaign.name}} {{campaign.startDate}}-{{campaign.endDate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <button class="btn btn-success" (click)="setChosenCampaign()" [disabled]="!campaignIsChosen()">
        Vælg kampagne
      </button>
      <button class="btn btn-primary" (click)="toggleCreateCampaign()">
        Opret kampagne
      </button>
      <button class="btn btn-danger" (click)="deleteCampaign()" [disabled]="!campaignIsChosen()">
          Slet kampagne
        </button>
    </div>
  </div>
   <app-create-campaign 
      *ngIf="showCreateCampaign">
   </app-create-campaign>
  </div>
  </div>
</div>


