<div class="row">
  <div class="col-7">
    <mat-form-field>
      <mat-select placeholder="Kampagne" [(ngModel)]="campaign.id" name="campaign.id">
        <mat-option>Ingen valgt</mat-option>
        <mat-option *ngFor="let campaign of campaignList" [value]="campaign.id">{{campaign.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-5">
    <button class="btn btn-success">
      Vælg kampagne
    </button>
    <button class="btn btn-primary" (click)="CreateCampaign()">
      Opret kampagne
    </button>
  </div>
</div>


