<div class="card">
    <div class="card-header" (click)="show()">
      <h5 class="mb-0">
        <a href="#" >
          Tilpas annoncer
        </a>
      </h5>
    </div>    
    <div [hidden]="!visible">
      <div class="jumbotron">
        <div class="row">
          <div class="col-12">
              <div *ngIf="!enableAdList">
                  <h5>Ingen annoncer oprettet</h5>
                  <p>Vælg produkter og udfyld annonceindhold for at kunne tilpasse annoncer</p>
                  </div>  
              <div *ngIf="this.campaign.id === undefined && enableAdList">
                <p class="alert">Du har ikke valgt en kampagne.</p>  
              </div>       
                </div>
        </div>
                <div class="row search-results" >
                  <div class="col-12">                      
                      <div class="row" *ngFor="let item of adwordsAds">
                        <div class="col-12">
                              <app-list-item [adwordAd]="item"></app-list-item>                     
                        </div>     
                      </div>
                  </div>
                </div>
                <div class="row" *ngIf="enableAdList">
                    <div class="col-12">
                        <button class="btn btn-primary float-right" [hidden]="toggleCreateAdsButton" [disabled]="!validateAds()" (click)="createAds()">Opret annoncer</button> 
                        <button class="btn btn-danger float-right" [hidden]="!toggleCreateAdsButton" [disabled]="true">Opretter annoncer, vent venligst</button> 
                    </div> 
            </div>        
      </div>
    </div>
  </div>




