<div class="card">
  <div class="card-header" (click)="show()">
    <h5 class="mb-0">
      <a href="#" >
        Udfyld annonceindhold
      </a>
    </h5>
  </div>    
  <div [hidden]="!visible">
    <div class="jumbotron">
      <div class="row">
        <div class="col-9">
<form [formGroup]="adContentForm" (ngSubmit)="submitAdContent()">
          <div class="form-group row">
            <label for="name" class="col-2 col-form-label">Overskrift 1</label>
              <div class="col-10">
                <input class="form-control dropdiv" 
                      type="text"
                      id="headlinePart1"
                      formControlName="headlinePart1"
                      [(ngModel)]="adContent.headLinePart1"
                      (focus)="alertChildComponentOnChanges()">
                  <span 
                      *ngIf="!adContentForm.get('headlinePart1').valid && adContentForm.get('headlinePart1').touched"
                      class="help-block">Venligst udfyld Overskrift1
                  </span>
              </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-2 col-form-label">Overskrift 2</label>
              <div class="col-10">
                <input class="form-control dropdiv" 
                      type="text"
                      id="headlinePart2"
                      formControlName="headlinePart2"
                      [(ngModel)]="adContent.headLinePart2"
                      (focus)="alertChildComponentOnChanges()">
                  <span 
                      *ngIf="!adContentForm.get('headlinePart2').valid && adContentForm.get('headlinePart2').touched"
                      class="help-block">Venligst udfyld Overskrift2
                  </span>    
              </div>
          </div>
          <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Sti</label>
                <label for="" class="col-3">{{ url }}</label>
                <div class="col-7">
                  <div class="row">
                      <div class="col-6">
                          <input class="form-control dropdiv" 
                          type="text"
                          id="path1"
                          formControlName="path1"
                          [(ngModel)]="adContent.path1"
                          (focus)="alertChildComponentOnChanges()">
                        </div>
                  <div class="col-6">
                      <input class="form-control dropdiv float-right"  
                      type="text"
                      id="path2"
                      formControlName="path2"
                      [(ngModel)]="adContent.path2"
                      (focus)="alertChildComponentOnChanges()">  
                  </div>     
                  </div>                  
                </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-2 col-form-label">Beskrivelse</label>
              <div class="col-10">
                <textarea 
                  formControlName="description"
                  class="form-control dropdiv" 
                  rows="3"
                  id="description"
                  [(ngModel)]="adContent.description"
                  (focus)="alertChildComponentOnChanges()"
                  ></textarea>
              <span 
                  *ngIf="!adContentForm.get('description').valid && adContentForm.get('description').touched"
                  class="help-block">Venligst udfyld beskrivelsen
              </span>
              </div>
              <div class="col-12">
                  <button class="btn btn-primary float-right" [disabled]="!adContentForm.valid">Gem</button>
                </div>
        </div>       
</form>
        </div> 
        <div class="col-3" id="maindiv">
                <div id="dragdiv">
                    <h5>Annoncevariabler</h5>
                    <ul id="allItems" runat="server">
                        <li *ngFor="let item of product.keyValuePairs">{{ item.key }}</li>
                    </ul>
                </div>
        </div>  
      </div>  
      <div class="row">
        <div class="col-12">
            <app-adword-ad-example></app-adword-ad-example>              
        </div>                      
      </div> 
    </div>             
  </div>
</div>  
