<div class="card-block cardAd">
<form [formGroup]="listItemForm">
    <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Overskrift 1</label>
            <div class="col-8">
                <input class="form-control" 
                    type="text" 
                    id="adwordAd.adContent.headLinePart1"
                    formControlName="headlinePart1"
                    [(ngModel)]="adwordAd.adContent.headLinePart1"> 
                <span 
                *ngIf="!listItemForm.get('headlinePart1').valid"
                class="help-block">Overskrift 1 er for lang, den er {{ adwordAd.adContent.headLinePart1.length }}, og må kun være 30 tegn.
                </span> 
            </div>
        </div>
    <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Overskrift 2</label>
            <div class="col-8">
                <input class="form-control" 
                        type="text" 
                        id="adwordAd.adContent.headLinePart2"
                        formControlName="headlinePart2"
                        [(ngModel)]="adwordAd.adContent.headLinePart2">
                <span 
                    *ngIf="!listItemForm.get('headlinePart2').valid"
                    class="help-block">Overskrift 2 er for lang, den er {{ adwordAd.adContent.headLinePart2.length }}, og må kun være 30 tegn.
                </span>   
            </div>
        </div>
    <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Sti</label>
        <label for="" class="col-2">www.nolleren.org /</label>
            <div class="col-4">
                <input class="form-control" 
                        type="text" 
                        id="adwordAd.adContent.path1"
                        formControlName="path1"
                        [(ngModel)]="adwordAd.adContent.path1">
                <span 
                    *ngIf="!listItemForm.get('path1').valid"
                    class="help-block">Stien er for lang, den er {{ adwordAd.adContent.path.length }}, og må kun være 15 tegn.
                </span> 
            </div>
            <div class="col-4">
                    <input class="form-control" 
                            type="text" 
                            id="adwordAd.adContent.path2"
                            [(ngModel)]="adwordAd.adContent.path2"> 
                </div>
        </div>
    <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Beskrivelse</label>
            <div class="col-8">
                <textarea class="form-control"
                        rows="3" 
                        type="text" 
                        id="adwordAd.adContent.description"
                        formControlName="description"
                        [(ngModel)]="adwordAd.adContent.description"></textarea>
                    <span 
                        *ngIf="!listItemForm.get('description').valid"
                        class="help-block">Overskrift 1 er for lang, den er {{ adwordAd.adContent.description.length }}, og må kun være 80 tegn.
                    </span>   
                </div>
            </div>        
    </form>
</div>
